pandas_datareader==0.6.0
numpy==1.14.3
aiohttp==3.3.2
plotly==3.1.1
Flask==1.0.2
alembic==1.0.0
SQLAlchemy==1.2.7
dash_html_components==0.11.0
pytest==3.5.1
Flask_Migrate==2.2.1
Flask_SQLAlchemy==2.3.2
pandas==0.23.0
WTForms==2.2.1
dash_core_components==0.26.0
dash==0.26.3
cmocean==1.2
Flask_WTF==0.14.2
requests==2.18.4
Flask_Login==0.4.1
beautifulsoup4==4.6.3
selenium==3.14.0
