cmocean==1.2
pandas==0.23.0
pytest==3.5.1
selenium==3.14.0
pandas_datareader==0.6.0
Flask_SQLAlchemy==2.3.2
Flask_Login==0.4.1
WTForms==2.2.1
httplib2==0.11.3
dash_core_components==0.26.0
SQLAlchemy==1.2.7
Flask_WTF==0.14.2
alembic==1.0.0
requests==2.18.4
Flask_Migrate==2.2.1
plotly==3.1.1
dash_html_components==0.11.0
Flask==1.0.2
numpy==1.14.3
aiohttp==3.3.2
pytz==2018.4
dash==0.26.3
google_api_python_client==1.7.4
beautifulsoup4==4.6.3
python_dateutil==2.7.3
html2text==2018.1.9
